{% extends "bootstrap/base.html" %}
{% block title %}Flasky{% endblock %}
{% block head %}
{{ super() }}
<meta name="viewport" content="width=device-width,initial-scale=1.0">
<link rel="shortcut icon" href="{{ url_for('static',filename='favicon.ico') }}" type="image/x-icon">
<link href="{{ url_for('static',filename="bootstrap.min.css") }}" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
<style>
    .warpper {
        width:50%;
        margin:10% auto;
        padding:2% 10%;
        background:#fff;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
</style>
{% endblock %}

{% block navbar %}
{#导航条模块#}
<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
{#            button，响应式按钮,小屏幕时点击下拉#}
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
{#                绘制了3条斑马线，大屏幕不明显，小屏幕显示#}
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Flasky</a>
        </div>

        <div class="collapse navbar-collapse">{#导航栏响应式布局#}
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a> </li>
            </ul>
            <ul class="nav navbar-nav">
                <li><a href="/">猜数字</a> </li>
            </ul>
            <ul class="nav navbar-nav">
                <li><a href="{{ url_for('main.calc24') }}">算24点</a> </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if current_user.is_authenticated %}
                    <li>
                        <a href="{{ url_for('main.user', username=current_user.username) }}">Profile</a>
                    </li>
                    <li><a href="{{ url_for('auth.logout') }}">Sign Out</a> </li>
                {% else %}
                    <li><a href="{{ url_for('auth.login') }}">Sign In</a> </li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    {% block page_content %}{% endblock %}
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
{{ moment.include_moment() }}
<script src="{{ url_for('static', filename='jquery.min.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='bootstrap.min.js') }}" type="text/javascript"></script>
{% endblock scripts %}